{% extends "base.html.twig" %}

{% block title %}
    {{ 'All Quotes'|trans }}
{% endblock %}

{% block stylesheets %}
    <style></style>
{% endblock %}

{% block body %}
    <a href="http://127.0.0.1:8000/{{ _locale == 'en' ? 'alle-zitate' : 'all-quotes' }}">{{ 'Switch to German'|trans }}</a>
    <a href="{{ path('create_quote') }}">{{ 'Add new Quote'|trans }}</a>
    <a href="{{ path('create_movie') }}">{{ 'Add new Movie'|trans }}</a>

    <hr>
    {% for quote in quotes %}
        <p>"{{ quote.quote }}"</p>
        <p>~ <i>{{ quote.character }}</i></p>
        <p>{{ 'MOVIE'|trans }}: {{ quote.movie.name }}</p>
        <p>{{ 'RELEASED IN'|trans }}: {{ quote.movie.releaseYear }}</p>
        <a href="{{ path('remove_quote', {'id': quote.id}) }}">
            {{ 'Delete Quote'|trans }}
        </a>
        <hr>
    {% endfor %}
{% endblock %}
