{% extends "base.html.twig" %}

{% block title %}
    All Quotes
{% endblock %}

{% block stylesheets %}
    <style></style>
{% endblock %}

{% block body %}
    <a href="{{ path('create_quote') }}">Add new quote</a>
    <a href="{{ path('create_movie') }}">Add new movie</a>

    <hr>
    {% for quote in quotes %}
        <p>"{{ quote.quote }}"</p>
        <p>~ <i>{{ quote.character }}</i></p>
        <p>MOVIE: {{ quote.movie.name }}</p>
        <p>RELEASED IN: {{ quote.movie.releaseYear }}</p>
        <a href="{{ path('remove_quote', {'id': quote.id}) }}">
            Delete Quote
        </a>
        <hr>
    {% endfor %}
{% endblock %}
